<div class="mt-4 mb-4">
    <div class="row">
        <div class="col-lg-3">
            <a href="/me/stored/courses"><button>Edit</button></a>
        </div>
        <div class="col-lg-9">
            <table>
                <td><img src="{{course.image}}" alt="Card image cap" width="400" height="500"></td>
                <td align="center">
                    <h2>Name: {{course.name}}</h2>
                    <p>Discription: {{course.discription}}</p>
                    <p>Price: {{course.price}}</p>
                </td>
            </table>

        </div>
    </div>
</div>